html { background: #fafafa }
body {
    color: #111;
    font-family: 'Lucida Grande', 'Segoe UI', 'Ubuntu', sans-serif;
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 white;
    width: 968px;
}
h1 {
    font-family: 'Myriad Pro', 'Lucida Grande', 'Segoe UI', 'Ubuntu', sans-serif;
    font-size: 92px;
    line-height: 0.8em;
    margin: 90px 0 0 100px;
    padding: 0;
}
h2 {
    margin: 0 100px 0 100px;
    padding: 0;
}
h2.top { margin-top: 75px }
h2.left { margin-left: 0 }
.description {
    margin: 0 0 0 100px;
    width: 560px;
}
.description li { margin: 10px 0 }
.description.wide { width: 800px }
a { color: #12c }
a img { border: none }
p.center { text-align: center }
/* Gallery styles */
#gallery {
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    /* CSS3 Rounded Corners */
    /* The width of the gallery */
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
    width: 968px;
}
#slides {
    /* This is the slide area */
    /* jQuery changes the width later on to the sum of the widths of all the slides. */
    height: 1400px;
    overflow: hidden;
    width: 968px;
}
#wrapper {
    background: white;
    border-radius: 5px;
}
.slide {
    float: left;
    min-height: 600px;
    position: relative;
    text-align: left;
    width: 968px;
}
ul.menu {
    background: #ddd;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 -30px 20px -10px rgba(0, 0, 0, 0.1) inset;
    margin: 20px 0 20px;
    padding: 0;
}
ul.menu li.inact:hover { }
ul.menu li.act,
li.act:hover {
    background: rgba(0, 0, 0, 0.35);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
    color: #eee;
    text-shadow: 0 1px 1px black;
}
ul.menu li.act a { cursor: default }
ul.menu li {
    /* Every thumbnail is a li element */
    display: inline-block;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 8px;
    width: 120px;
}
li.menuItem a {
    color: inherit;
    display: block;
    padding: 4px;
    text-decoration: none;
}
.initial { background: url('../images/initial.png') right 264px no-repeat }
.highlight {
    background: #e11;
    border: 5px solid white;
    border-radius: 100px;
    box-shadow: 0 0 2px 2px rgba(240, 18, 18, 0.5);
    cursor: pointer;
    height: 10px;
    overflow: hidden;
    position: absolute;
    width: 10px;
}
.highlight .highlight-content.right { left: -200px }
.highlight .highlight-content {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    color: white;
    font-size: 90%;
    left: -25px;
    min-width: 250px;
    opacity: 0;
    padding: 8px;
    position: absolute;
    text-shadow: 0 1px black;
    top: 10px;
}
.highlight:hover {
    opacity: 1 !important;
    overflow: visible;
    z-index: 1;
}
.highlight:hover .highlight-content {
    -moz-transition: 1s ease opacity;
    -ms-transition: 1s ease opacity;
    -o-transition: 1s ease opacity;
    -webkit-transition: 1s ease opacity;
    opacity: 1;
    transition: 1s ease opacity;
}
.social { float: left }
.social div { display: inline }
.clearfix { zoom: 1 }
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}