<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d %-5p %c %X - %m%n</Pattern>
		</encoder>
	</appender>

	<define name="astah.edition" class="com.github.astah.connector.backlog.AstahEditionPropertyDefiner">
	</define>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${user.home}/.astah/${astah.edition}/backlog-connector.log</File>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>${user.home}/.astah/${astah.edition}/backlog-connector.%i.log.zip</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>3</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>1MB</MaxFileSize>
		</triggeringPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%d %-5p %c %X - %m%n</Pattern>
		</encoder>
	</appender>
	
	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>